@model PostVM

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center">Edit Post</h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 border-1 border p-4">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Post.Id" hidden/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Name" class="form-label"></label>
                            <input asp-for="@Model.Post.Name" class="form-control" />
                            <span asp-validation-for="@Model.Post.Name"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.BrandId" class="form-label"></label>
                            <select asp-for="@Model.Post.BrandId" asp-items="@Model.BrandList" class="form-select">
                                <option disabled selected>--Select Brand--</option>
                            </select>
                            <span asp-validation-for="@Model.Post.BrandId"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.VehicleTypeId" class="form-label"></label>
                            <select asp-for="@Model.Post.VehicleTypeId" asp-items="@Model.VehicleTypeList" class="form-select">
                                <option disabled selected>--Select Vehicle Type--</option>
                            </select>
                            <span asp-validation-for="@Model.Post.VehicleTypeId"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.EngineAndFuelType" class="form-label"></label>
                            <select asp-for="@Model.Post.EngineAndFuelType" asp-items="@Model.EngineAndFuelTypeList" class="form-select">
                            </select>
                            <span asp-validation-for="@Model.Post.EngineAndFuelType"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Transmission" class="form-label"></label>
                            <select asp-for="@Model.Post.Transmission" asp-items="@Model.TransmissionList" class="form-select">
                            </select>
                            <span asp-validation-for="@Model.Post.Transmission"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Engine" class="form-label"></label>
                            <input asp-for="@Model.Post.Engine" class="form-control" />
                            <span asp-validation-for="@Model.Post.Engine"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.TopSpeed" class="form-label"></label>
                            <input asp-for="@Model.Post.TopSpeed" class="form-control" />
                            <span asp-validation-for="@Model.Post.TopSpeed"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Mileage" class="form-label"></label>
                            <input asp-for="@Model.Post.Mileage" class="form-control" />
                            <span asp-validation-for="@Model.Post.Mileage"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Range" class="form-label"></label>
                            <input asp-for="@Model.Post.Range" class="form-control" />
                            <span asp-validation-for="@Model.Post.Range"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.SeatingCapacity" class="form-label"></label>
                            <input asp-for="@Model.Post.SeatingCapacity" class="form-control" />
                            <span asp-validation-for="@Model.Post.SeatingCapacity"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.PriceFrom" class="form-label"></label>
                            <input asp-for="@Model.Post.PriceFrom" class="form-control" />
                            <span asp-validation-for="@Model.Post.PriceFrom"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.PriceTo" class="form-label"></label>
                            <input asp-for="@Model.Post.PriceTo" class="form-control" />
                            <span asp-validation-for="@Model.Post.PriceTo"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.Ratings" class="form-label"></label>
                            <input asp-for="@Model.Post.Ratings" class="form-control" />
                            <span asp-validation-for="@Model.Post.Ratings"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Post.VehicleImage" class="form-label"></label>
                            <input type="file" name="files" id="uploadBox" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 text-end">
                        <div class="mb-3">
                            <a asp-area="Admin" asp-controller="Post" asp-action="Index" class="btn btn-danger">Back</a>
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            @if(Model.Post.VehicleImage != null)
            {
                <img src="@Model.Post.VehicleImage" width="100%"/>
            }
        </div>
    </div>
</div>