@model Brand

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center">Delete Brand</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 border-1 border">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Id" hidden/>
                <input asp-for="@Model.BrandLogo" hidden/>
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label"></label>
                    <input asp-for="@Model.Name" class="form-control" disabled/>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.EstablishedYear" class="form-label"></label>
                    <input asp-for="@Model.EstablishedYear" class="form-control" disabled/>
                </div>
                <div class="mb-3">
                    <a asp-controller="Brand" asp-action="Index" class="btn btn-warning">Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            @if (Model.BrandLogo != null)
            {
                <img src="@Model.BrandLogo" width="100%" />
            }
        </div>
    </div>
</div>
